@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
*{
  box-sizing: border-box;
}
.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
body {
  background-attachment: fixed;
  background-image: url("../images/background.png");
  background-position: center;
  background-size: cover;
}

h1,h2 {
  position: relative; 
  line-height: 0.9;
  text-align: center;
  font-family: 'Pacifico', cursive;
}

h3{
  position: relative; 
  line-height: 0.9; 
}
