*{
  box-sizing: border-box;
}
.switch-page-btn{
  width: 45%;
  height: 45px;
}
.page-btn-div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  height: 45px;
  margin-left: 25%;
  margin-bottom: 10px;
  margin-top: 5px;
}
#eco-checkbox-div{
  width: 100%;
}
#next-btn{
  margin-left: auto;

}
#prev-btn{
  
}